<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GcmDemo</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.GcmDemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GcmDemo</servlet-name>
		<url-pattern>/gcmdemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Unregister</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.UnregisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Unregister</servlet-name>
		<url-pattern>/unregister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Send</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.SendMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Send</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendAll</servlet-name>
		<servlet-class>com.google.android.gcm.demo.server.SendAllMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendAll</servlet-name>
		<url-pattern>/sendAll</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
